@import "../../global";

@mixin search-input {
  background: rgba(255, 255, 255, 0.15);
  height: 48px;
  font-size: 16px;
  border: transparent;
  outline: transparent;
  padding-left: 50px;
  caret-color: white;
  color: #ffffff;
  margin: auto;
  &::placeholder {
    color: white;
  }
}
@mixin input-image {
  pointer-events: none;
  position: absolute;
  margin: auto;
}
@mixin header-style {
  font-family: "Montserrat";
  color: #ffffff;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 901px) {
}
.head {
  background-color: $base-color;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .title_block {
    .subtitle {
      @include header-style;
      margin-top: 60px;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 30px;
      text-transform: uppercase;
      @media screen and (min-width: 900px) {
        font-size: 18px;
      }
    }
  }

  .search_candidate {
    position: relative;
    margin: auto;
    width: 600px;
    .search_candidate__input {
      @include search-input;
      @media screen and (min-width: 900px) {
        width: 600px;
      }
    }
    .search_candidate__icon {
      height: 14px;
      width: 14px;
      top: 17px;
      left: 17px;
      @include input-image;
    }
  }
}

@media screen and (max-width: 900px) {
  .head {
    height: 485px;
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 14px;
  }
  .search {
    flex-direction: column;
    width: 80%;
    min-width: 335px;
    height: 168px;
    align-content: space-between;
    margin: auto;
  }
  .search_candidate__input,
  .search_city__input {
    width: 100%;
  }
  .search_candidate,
  .search_city,
  .search_button {
    width: 100%;
  }
}
